header {
  background-color: var(--color-lighter);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  transition: transform 0.3s ease-in-out;
}

header.hidden {
  transform: translateY(-100%);
}

body {
  margin-top: 80px;
}

.title-icon-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.web-image {
  width: 24px;
}

.menu-toggle {
  font-weight: bold;
  cursor: pointer;
}

/* Navigation bar */

.nav-links {
  position: absolute;
  right: 0;
  padding: 40px;
  width: 130px;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;

  list-style: none;
  background-color: var(--color-lighter);
  border-radius: 4px;

  opacity: 0;
  transform: translateY(-10px);
  visibility: hidden;
  pointer-events: none;
  transition: opacity 0.5s ease, transform 0.5s ease, visibility 0.5s ease;
}

.nav-links.show {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
  pointer-events: auto;
}

.link {
  transition: all 0.4s ease;
}

.link:hover {
  font-weight: bold;
}

/* Light-dark theme */

.theme-label {
  max-height: 20px;
  max-width: 20px;
  filter: invert(65%);
}

.theme-toggle-container {
  margin-top: 25px;
}

.theme-toggle {
  display: flex;
  align-items: center;
  gap: 10px;
}

.toggle-switch {
  position: relative;
  width: 26px;
  height: 15px;
  background-color: rgba(132, 132, 132, 0.5);

  border-radius: 12px;

  cursor: pointer;
  transition: all 0.4s ease;
}

.toggle-switch:hover {
  background-color: rgba(132, 132, 132, 0.8);
}

.toggle-slider {
  position: absolute;
  top: 2px;
  left: 13px;
  width: 11px;
  height: 11px;
  background-color: #f2f2f2;
  border-radius: 50%;
  transition: transform 0.4s ease;
}

.toggle-switch.dark .toggle-slider {
  transform: translateX(-11px);
}

/* BREAKPOINTS */

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }

  .nav-links {
    position: static;
    opacity: 1;
    transform: none;
    visibility: visible;
    pointer-events: auto;

    flex-direction: row;
    align-items: center;
    padding: 0;
    width: auto;
    gap: 30px;
  }

  .theme-toggle-container {
    margin-top: 0;
    margin-left: 20px;
  }
}

@media (min-width: 1024px) {
  .nav-links {
    gap: 35px;
  }
}

@media (min-width: 1440px) {
  .nav-links {
    gap: 40px;
  }
}
