:root {
/* FONTS */
--font-heading: 'Pirata One';
--font-text: 'Nunito Sans';

/* COLORS */
--color-light: #f2f2f2;
--color-medium: #8b8b8b;
--color-dark: #191919;
}

/* HEADINGS AND TEXT */

h1 {
  font-family: var(--font-heading);
  color: var(--color-light);
  font-size: 1.25rem;
}

h2 {
  margin-bottom: 16px;

  font-family: var(--font-heading);
  color: var(--color-medium);
  font-size: 1.60rem;
}

h3 {
  font-family: var(--font-heading);
  color: var(--color-medium);
  font-size: 1.15rem;
}

h4 {
  margin-bottom: 6px;

  font-family: var(--font-heading);
  color: var(--color-light);
  font-size: 0.9rem;
}

p {
  font-family: var(--font-text);
  color: var(--color-dark);
  font-size: 1rem;
}