/* STANDARD HEADINGS */

h1 {
  color: white;
  font-size: small;
}

h2 {
  color: gray;
  font-size: large;
}

h3 {
  color: gray;
  font-size: medium;
}

h4 {
  color: white;
  font-size: smaller;
}



/* HEADER */

header {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 20px;
}

.webImage {
  width: 30px;
}



/* PAGE */

main {
  padding: 50px 20px;
}

.pageDescription {
  padding-bottom: 40px;
  text-align: center;
}

.articlesSection {
  padding: 0px 30px;

  display: flex;
  flex-direction: column;
  gap: 60px;
}

.article {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.article_image {
  width: 100%;
  aspect-ratio: 6 / 7;
  object-fit: cover;
  
  border-radius: 2%;
  box-shadow: 1px 1px 2px 1px rgb(0 0 0 / 20%);
}



/* FOOTER */
footer {
  background-color: black;
  padding: 15px;
}

.footer_p {
  color: white;
  font-size: smaller;
}